<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation Medical</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
        <!--<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet">
</head>

<body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <a href="/admin/admin-menu">
                    <img src="/img/portfolio/back.png" alt="" class="back-icon">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <form id="formDetails" method="post" action="">
                        <fieldset>
                          <legend>Hospital Department</legend>
                          <div class="mb-3">
                            <label for="txtname" class="form-label">Department Name:</label>
                            <input type="text" class="form-control" id="txtname">
                          </div>
                          <div class="mb-3">
                            <label for="cbhospital" class="form-label">Hospital:</label>
                            <select id="cbusertype" class="form-select">
                              <option>N/A</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                      </form>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <table id="hospitalDepartments" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Department Name:</th>
                            <th scope="col">Hospital:</th>
                          </tr>
                        </thead>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
</body>
<script>
    $(document).ready(function(){
        let dataObject = [];

        //populate data table
        $.ajax({
            url: "/hospitals",
            type: "GET",
            success: function(result){
                result.forEach(element => {
                    dataObject.push({
                        idHospitalDepartment : element.idHospitalDepartment,
                        departmentName : element.departmentName,
                        hospitalName: element.idHospital.hospitalName
                    })
                })
                $("#hospitalDepartments").DataTable({
                    data : dataObject,
                    columns : [
                        {"data": "idHospitalDepartment"},
                        {"data": "departmentName"},
                        {"data": "hospitalName"}
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                })
            }
        })
        
        //Populate combobox
        $.ajax({
            url: '/hospitalDetails',
            type: "GET",
            success: function(result){
              $("#cbusertype").empty()
              result.forEach(element => {
                  $("#cbusertype").append(new Option(element.hospitalName, element.idHospitalDetails))
              })
            }  
        })
        
    })    
    
    //Insert hospital department
    $("#formDetails").on("submit", function(e){
        var name = $("#txtname").val()
        var idHospital = $("#cbusertype").val()
        var telephone = $("#txttelephone").val()
        
        const sendInfo = {
            departmentName : name,
            idHospital : idHospital,
        }
        
        e.preventDefault();
        $.ajax({
            url: "/hospitals",
            type: "POST",
            data: JSON.stringify(sendInfo),
            contentType: "application/json",
            success: function(data){
                alert("Insert Success")
                window.location.reload();
            }
        })
    })
</script>
</html>