<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Medi-Call - Medical Details</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/favi.ico">
          
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
<body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <a href="/">
                    <img src="/img/portfolio/back.png" alt="" class="back-icon">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white mb-5">
                <div>
                    <img src="/img/portfolio/medical-team.png" class="img-newAppointment pt-4" alt="">
                    <br>
                    <h3 class="text-blue-dark mb-3">Dr. Example</h3>
                </div>
                <div class="width-75">
                    <form action="">
                            <label for="doctor_studies">Add Medical Doctor's Studies</label> <br>
                            <textarea name="doctor_studies" id="doctor_studies" class="form-control" placeholder="Write a brief description about your studies!"></textarea>
                            <br>
                            <label for="doctor_experience">Add Medical Doctor's Work Experiencie</label> <br>
                            <textarea name="doctor_experience" id="doctor_experience" class="form-control" placeholder="Write a brief description about your work experiences!"></textarea>
                            <br>
                            <button class="btn btn-danger">Save details!</button>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>
