<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="icofont.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
        <!--<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
    <body class="bg-blue">
   <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <a href="/admin/admin-menu">
                    <img src="/img/portfolio/back.png" alt="" class="back-icon">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-8 col-sm-12 text-center bg-white">
                <img src="/img/portfolio/profile.png" class="py-3 img-pathologies">
            </div>
            <div class="col-lg-12 col-md-8 col-sm-12 text-center bg-white mb-lg-5 mb-0">
                <div class="width-75">
                    <form>
                        <fieldset>
                          <legend>Update User Information</legend>
                          <div class="mb-2">
                            <label for="txtname" class="form-label">Names:</label>
                            <input type="text" class="form-control" id="txtname">
                          </div>
                          <div class="mb-2">
                            <label for="txtlastname" class="form-label">Last name:</label>
                            <input type="text" class="form-control" id="txtlastname">
                          </div>
                          <div class="mb-2">
                            <label for="txtuser" class="form-label">User:</label>
                            <input type="text" class="form-control" id="txtuser">
                          </div>
                          <div class="mb-2">
                            <label for="txtemail" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="txtemail">
                          </div>
                          <button type="submit" class="btn btn-primary mb-3">Update</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>
