<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Medi-Call - New Appointment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/favi.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <img src="/img/portfolio/back.png" alt="" class="back-icon">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div>
                    <img src="/img/portfolio/medical-appointment.png" class="img-newAppointment pt-4" alt="">
                    <br>
                    <h3 class="text-blue-dark mb-3">New Appointment</h3>
                </div>
                <div class="width-75">
                    <form action="" id="newappointment" method="post">
                        <div id="hospital_section">
                            <label for="hospitals">Select the Hospital</label> <br><br>
                            <select name="hospitals" id="hospitals" class="form-select mb-5">
                                <option value="">Rosales Hospital</option>
                            </select>
                            <div align="right">
                                <div class="btn-container-newApp">
                                    <span class="btn btn-danger" onclick="change('hospital_section','area_section')">Next</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-none" id="area_section">
                            <label for="areas">Select the Area</label> <br><br>
                            <select name="areas" id="areas" class="form-select mb-5">
                                <option value="">Nefrología</option>
                            </select>
                            <div class="btn-container-general">
                                <div class="btn-container-newApp text-start">
                                    <span class="btn btn-link" onclick="change('area_section','hospital_section')">Previous</span>
                                </div>
                                <div class="btn-container-newApp text-end">
                                    <span class="btn btn-danger" onclick="change('area_section','doctor_section')">Next</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-none" id="doctor_section">
                            <label for="doctors">Select Doctor</label> <br><br>
                            <select name="doctors" id="doctors" class="form-select mb-5">
                                <option value="">Dr. Portillo</option>
                            </select>
                            <div class="btn-container-general">
                                <div class="btn-container-newApp text-start">
                                    <span class="btn btn-link" onclick="change('doctor_section','area_section')">Previous</span>
                                </div>
                                <div class="btn-container-newApp text-end">
                                    <span class="btn btn-danger" onclick="change('doctor_section','date_section')">Next</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-none" id="date_section">
                            <label for="dates">Select the date</label> <br><br>
                            <input type="date" name="dates" id="dates" class="form-control">
                            <br> <br>
                            <div class="btn-container-general">
                                <div class="btn-container-newApp text-start">
                                    <span class="btn btn-link" onclick="change('date_section','doctor_section')">Previous</span>
                                </div>
                                <div class="btn-container-newApp text-end">
                                    <span class="btn btn-danger" onclick="change('date_section','hour_section')">Next</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-none" id="hour_section">
                            <label for="hours">Select the hour</label> <br><br>
                            <select name="hours" id="hours" class="form-select mb-5">
                                <option value="">07:00:00</option>
                            </select>
                            <div class="btn-container-general">
                                <div class="btn-container-newApp text-start">
                                    <span class="btn btn-link" onclick="change('hour_section', 'date_section')">Previous</span>
                                </div>
                                <div class="btn-container-newApp text-end">
                                    <button type="submit" class="btn btn-danger">Save!</button>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
<script>
    $(document).ready(function(){
        let hospitals = []
        $.ajax({
            url: "/hospitalDetails",
            type: "GET",
            success: function(result){
               $("#hospitals").empty() 
               $("#hospitals").append(new Option("Select an Option"))
               result.forEach(element => {
                   $("#hospitals").append(new Option(element.hospitalName, element.idHospitalDetails))
               })
            }
        })
    })
    
    $("#hospitals").on("change", function(){
        let idHospital = $("#hospitals").val()
        $.ajax({
            url: "/hospitals",
            type: "GET",
            success: function(result){
                $("#areas").empty()
                $("#areas").append(new Option("Select an Option"))
                result.forEach(element => {
                    if(element.idHospital.idHospitalDetails == idHospital){
                        $("#areas").append(new Option(element.departmentName, element.idHospitalDepartment))
                    }
                })
            }
        })
    })
    
    $("#areas").on("change", function(){
        let idDepartment = $("#areas").val()
        $.ajax({
            url: "/medicaldetail",
            type: "GET",
            success: function(result){
                $("#doctors").empty()
                $("#doctors").append(new Option("Select an Option"))
                result.forEach(element => {
                    if(element.idDepartment.idHospitalDepartment == idDepartment){
                        $("#doctors").append(new Option(element.idUser.displayName, element.idMedicalDetail))
                    }
                })
            }
        })
    })
    
    $("#newappointment").on("submit", function(e){
        e.preventDefault();
        
        let appointmentDate = $("#dates").val()+" "+$("#hours").val()
        let idAppointmentStatus = 1
        let idPatient = 1
        let idDoctor = $("#doctors").val()
        
        const sendData = {
            appointmentDate : appointmentDate,
            idAppointmentStatus : idAppointmentStatus,
            idPatient : idPatient,
            idDoctor : idDoctor
        }
        
        $.ajax({
            url: "/appointments",
            type: "POST",
            data: JSON.stringify(sendData),
            contentType: "application/json",
            success: function(data){
                alert("Insert Success")
                window.location.reload();
            }
        })
    })
</script>
</html>
