html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.content-divider.center {
	text-align: center;
}

.content-divider {
	position: relative;
	z-index: 1;
}

.content-divider>span, .content-divider>a {
	background-color: #fff;
	color: #000;
	display: inline-block;
	padding: 2px 12px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 500;
}

.content-divider>span:before, .content-divider>a:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	background-color: #ddd;
	width: 100%;
	z-index: -1;
}

.social-login .btn-img {
	width: 30px;
	height: auto;
	padding: 0.6rem 0;
	margin-right: 15px;
}

.btn-img-linkedin {
	width: auto;
	height: 50px;
	padding: 0.6rem 0;
	margin-right: 10px;
}

.form-group .has-error {
	color: red;
}
