/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 sep. 2021, 07:29:40
    Author     : Néstor Recinos
*/

/*SING UP PAGE*/
.bg-img-singup{
    background: url("https://thumbs.dreamstime.com/b/caricaturista-llenando-un-formulario-de-cuestionario-encuesta-con-l%C3%A1piz-gigante-hombre-dibujos-animados-rellenando-el-comentarios-192507559.jpg");
    background-size: 100% 100%;
}
.bg-color-singup{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.205);
    background-size: 100%;
}
.logo-singup{
    width: 50%;
    text-align: center;
}
.b-bottom-only{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}
.no-underline-link{
    text-decoration: none!important;
}
.sign-up-media{
    width:60px;
}
/*New Appointment Page*/
.img-newAppointment{
    width: 35%;
    text-align: center;
}
.bg-blue{
    background: #2b3d4f
}
.width-75{
    width: 76%;
    margin-left: 12%;
}
.back-icon{
    width: 15px;
}
.text-blue-dark{
    color: #2b3d4f;
}
.btn-container-general{
    width: 100%;
    display: flex;
}
.btn-container-newApp{
    width: 50%;
}

.form-group .has-error {
	color: red;
}

.content-divider.center {
	text-align: center;
}

.content-divider {
	position: relative;
	z-index: 1;
}

.content-divider>span, .content-divider>a {
	background-color: #fff;
	color: #000;
	display: inline-block;
	padding: 2px 12px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 500;
}

.content-divider>span:before, .content-divider>a:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	background-color: #ddd;
	width: 100%;
	z-index: -1;
}
