<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medi-Call - Sign In</title>
    <link rel="icon" type="image/x-icon" href="/img/favi.ico">
    
    
    <style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    </style>

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        
    <!-- Boostrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="text-center">

    <main class="form-signin">
        <form>
            <img class="mb-4" src="/img/white.png" alt="Medicall logo" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">USER LOGIN</h1>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                <input type="text" class="form-control" id="floatingInput" placeholder="Username" aria-label="Username">
            </div>

            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-unlock-fill"></i></span>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </form>
    </main>

</body>

</html>
