<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Medi-Call - New Appointment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/favi.ico">
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <img src="back.png" alt="" class="back-icon">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div>
                    <img src="/img/portafolio/medical-appointment.png" class="img-newAppointment pt-4" alt="">
                </div>
                <div class="width-75">
                    <form action="">
                            <label for="">Select the date</label> <br>
                            <input type="date" class="form-control">
                            <br>
                            <label for="">Select the hour</label> <br>
                            <select name="" id="" class="form-select mb-5">
                                <option value="">7:00</option>
                            </select>
                            <button class="btn btn-danger mb-5">Save!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
