<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <title>Medi-Call - Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/favi.ico" >
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row d-flex  align-items-stretch">
                <div class="col-md-6 col-lg-8 bg-img-singup d-none d-lg-block" align="center">
                </div>
                <div class="offset-lg-0 col-sm-10 col-lg-4 mb-5">
                    <div align="center">
                        <img src="/img/transparent.png" alt="" class="logo-singup">
                        <h1 class="mb-5">Sign Up</h1>
                    </div>
                    <form action="">
                        <label for="fullname">Full Name</label>
                        <input id="fullname" type="text" class="form-control mb-3 b-bottom-only" placeholder="Name...">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control mb-3 b-bottom-only" placeholder="Email address...">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control mb-3 b-bottom-only" placeholder="Username...">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control mb-3 b-bottom-only" placeholder="*****************">
                        <label for="repeat">Repeat Password</label>
                        <input id="repeat" type="password" class="form-control mb-4 b-bottom-only" placeholder="*****************">
                        <div align="right">
                            <a href="/" class="link-primary">Back</a>  
                            <button class="btn btn-danger">Sign up</button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
