<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Medi-Call - Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/favi.ico" >
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row d-flex  align-items-stretch">
                <div class="col-md-6 col-lg-8 bg-img-singup d-none d-lg-block" align="center">
                </div>
                <div class="offset-lg-0 col-sm-10 col-lg-4 mb-5">
                    <div align="center">
                        <img src="/img/transparent.png" alt="" class="logo-singup">
                        <h1 class="mb-5">Sign Up</h1>
                    </div>
                    <div id="result" style="color: #ff0000"></div>
                    <form action="#" th:action="@{/sign-up}" th:object="${userRegistrationForm}" method="post">
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input id="fullname" th:field="*{displayName}" type="text" class="form-control mb-3 b-bottom-only" placeholder="Name...">
                            <p th:if="${#fields.hasErrors('displayName')}" th:errorclass="has-error" th:errors="*{displayName}" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" th:field="*{email}" type="email" class="form-control mb-3 b-bottom-only" placeholder="Email address...">
                            <p th:if="${#fields.hasErrors('email')}" th:errorclass="has-error" th:errors="*{email}" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" th:field="*{password}" type="password" class="form-control mb-3 b-bottom-only" placeholder="*****************">
                            <p th:if="${#fields.hasErrors('password')}" th:errorclass="has-error" th:errors="*{password}" />
                        </div>
                        <div class="form-group">
                            <label for="repeat">Repeat Password</label>
                            <input id="repeat" type="password" th:field="*{matchingPassword}" class="form-control mb-4 b-bottom-only" placeholder="*****************">
                            <p th:if="${#fields.hasErrors('matchingPassword')}" th:errorclass="has-error" th:errors="*{matchingPassword}" />
                        </div>
                        <input id="socialProvider" th:field="*{socialProvider}" type="text" style="display: none;">
                        <div align="right">
                            <a href="/" class="link-primary">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" value="Submit" class="btn btn-danger">
                        </div>
                        <div th:if="${#fields.hasErrors('global')}">
                            <h3>Global errors:</h3>
                            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="has-error" />
                        </div>
                        <div class="clearfix"></div>
                        <p class="content-divider center mt-3">
                            <span>or</span>
                        </p>
                        <p class="text-center">
                            Already have an account?
                            <a href="/login">Login Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $("#socialProvider").val("LOCAL");
        });
    </script>
</html>
