<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        
    </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row d-flex  align-items-stretch">
                <div class="col-md-6 col-lg-8 bg-img-singup d-none d-lg-block" align="center">
                </div>
                <div class="offset-1 offset-lg-0 col-sm-10 col-lg-4 mb-5">
                    <div align="center">
                        <img src="transparent.png" alt="" class="logo-singup">
                        <h1 class="mb-5">Sing Up</h1>
                    </div>
                    <form action="">
                        <label for="">Full Name</label>
                        <input type="text" class="form-control mb-3 b-bottom-only" placeholder="Name...">
                        <label for="">Email</label>
                        <input type="email" class="form-control mb-3 b-bottom-only" placeholder="Email address...">
                        <label for="">Username</label>
                        <input type="text" class="form-control mb-3 b-bottom-only" placeholder="Username...">
                        <label for="">Password</label>
                        <input type="password" class="form-control mb-3 b-bottom-only" placeholder="*****************">
                        <label for="">Repeat Password</label>
                        <input type="password" class="form-control mb-4 b-bottom-only" placeholder="*****************">
                        <div align="right">
                            <button class="btn btn-danger">Sing up</button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
