<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation Medical</title>
    <link rel="stylesheet" href="icofont.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <img src="back.png" alt="" class="back-icon">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <form>
                        <fieldset >
                          <legend>Consultation medical</legend>
                          <div class="mb-3">
                            <label for="cbpatient" class="form-label">Selected patient</label>
                            <select id="cbpatient" class="form-select">
                              <option>N/A</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="txtheight" class="form-label">heinght</label>
                            <input type="text" id="txtheight" class="form-control" placeholder="heinght">
                          </div>
                          <div class="mb-3">
                            <label for="txtweight" class="form-label">weihtg</label>
                            <input type="text" id="txtweight" class="form-control" placeholder="weihtg">
                          </div>
                          <div class="mb-3">
                            <label for="txtobservation">Observation</label>
                            <textarea class="form-control" placeholder="Observation" id="txtobservation"></textarea>
                          </div>
                          <div class="mb-3">
                            <label for="dates">Select the date</label> <br><br>
                            <input type="date" name="dates" id="dates" class="form-control">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                      </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>