<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation Medical</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/img/favi.ico" >
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Bootstrap and CSS-->
    <link rel="stylesheet" href="/css/icofont.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4">
                <img src="back.png" alt="" class="back-icon">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <form>
                        <fieldset>
                          <legend>Pathologies patient</legend>
                          <div class="mb-3">
                            <label for="cbpatient" class="form-label">Select patient</label>
                            <select id="cbpatient" class="form-select">
                              <option>N/A</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="diabetes" onclick="countPathologies('diabetes')">
                              <label class="form-check-label" for="chpathologies">
                                Diabetes
                              </label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hypertension" onclick="countPathologies('hypertension')">
                              <label class="form-check-label" for="chpathologies">
                                Hypertension
                              </label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="lupus" onclick="countPathologies('lupus')">
                              <label class="form-check-label" for="chpathologies">
                                Lupus
                              </label>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                      </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">patient</th>
                            <th scope="col">Number pathologies</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td id="num_of_pathologies">Thornton</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/pathologies.js"></script>
</body>

</html>