<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
    <link rel="stylesheet" href="icofont.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
       <!--<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body class="bg-blue">
    <div class="container-fluid">
        <div class="row">
            <a href="/doctor/doctor-menu">
                <div class="col-12 mt-4">
                    <img src="/img/portfolio/back.png" alt="" class="back-icon">
                </div>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <form>
                        <fieldset>
                          <legend>Patients</legend>
                          <div class="mb-3">
                            <label for="txtname" class="form-label">Names:</label>
                            <input type="text" class="form-control" id="txtname">
                          </div>
                          <div class="mb-3">
                            <label for="txtaddress" class="form-label">Last name:</label>
                            <input type="text" class="form-control" id="txtaddress">
                          </div>
                          <div class="mb-3">
                            <label for="txtaddress" class="form-label">Gender:</label>
                            <input type="text" class="form-control" id="txtaddress">
                          </div>
                          <div class="mb-3">
                            <label for="txtaddress" class="form-label">User:</label>
                            <input type="text" class="form-control" id="txtaddress">
                          </div>
                          <div class="mb-3">
                            <label for="txtaddress" class="form-label">Email:</label>
                            <input type="text" class="form-control" id="txtaddress">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                      </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 text-center bg-white my-5">
                <div class="width-75">
                    <table id="patient" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Pregnancy</th>
                            <th scope="col">Date birthday</th>
                          </tr>
                        </thead>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function(){
        let dataObject = [];

        //populate data table
        $.ajax({
            url: "/patients",
            type: "GET",
            success: function(result){
                console.log(result);
                result.forEach(element => {
                    dataObject.push({
                        id : element.idPatient,
                        patient: element.userId.displayName,
                        date : element.dateBirth,
                        gender : element.gender,
                        pregnancy : element.pregnancy
                    })
                })
                $("#patient").DataTable({
                    data : dataObject,
                    columns : [
                        {"data": "id"},
                        {"data": "patient"},
                        {"data": "gender"},
                        {"data": "pregnancy"},
                        {"data": "date"},
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                })
            }
        })
    })
    </script>
</body>

</html>